numpy~=1.24.1
ftfy
scipy~=1.10.1
prettytable
matplotlib~=3.7.1
regex
timm~=1.0.7
einops~=0.8.0
torch~=2.0.1
mmengine~=0.10.4
Pillow~=9.3.0
tqdm~=4.65.0
seaborn~=0.13.2
mmcv~=2.0.0
torchvision~=0.15.2
xformers~=0.0.20
mmpretrain~=1.2.0
opencv-python~=4.10.0.84
tsnecuda~=3.0.1
ptflops~=0.7.3
torch-dct=0.1.6
pytorch-msssim=1.0.0
PyWavelets=1.4.1
pyiqa=0.1.13
tornado=6.3.2